<div class="jumbotron">
    <h1 class="display-3">Acerca de...</h1>
        <p class="lead">
            Este sitio web ha sido desarrollado por los estudiantes de la Maestría en Sistemas Computacionales del Instituto Tecnológico de Zacatecas
        </p>
        <hr class="my-4">
        <div class="footer-copyright text-center navbar-light">
            &copy; Copyright 2022 Trevor
        </div>
</div>