<div class="card" style="width: 18rem;">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
        <h5 class="card-title text-bg-danger">Aplicación con NodeJS y MongoDB</h5>
        <p class="card-text">Bienvenidos a nuestra aplicación de notas</p>
        <p>
            Este es un sitio web para el registro de notas de usuarios, donde cada usuario tendrá un almacén de notas de manera independiente
        </p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
</div>