{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4"> --}}
<nav class="navbar navbar-expand-lg navbar-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Notas App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            {{#if usuario}}
                <ul class="navbar-nav me-auto m-3">
                    <li class="nav-item">
                        <small class="text-white"><a><i class="far fa-user"> {{usuario.nombre}}</i></a></small>
                    </li>
                </ul>
            {{/if}}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{#if usuario}}
                    {{#unless usuario.tipo}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdownUsers"><i class="fas fa-users"></i><small> Usuarios</small></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                                <li>
                                    <a class="dropdown-item" href="/users/users"><i class="fas fa-user-friends"></i> Listar Usuarios</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/users/singupadm"><i class="fas fa-user-plus"></i> Agregar Usuario</a>
                                </li>
                            </ul>
                        </li>
                    {{/unless}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-file-alt"></i><small> Notas</small></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/notes"><i class="far fa-copy"></i> Listar notas</a>
                            <a class="dropdown-item" href="/notes/add"><i class="far fa-file"></i> Agregar nota</a>
                            <a class="dropdown-item" href="/notes/search"><i class="far fa-file"></i> Buscar notas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Salir</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><i class="far fa-question-circle"></i> Info</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/singin"><i class="fas fa-sign-in-alt"></i> Iniciar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/singup"><i class="fas fa-user-plus"></i> Registrar</a>
                    </li>
                {{/if}}
            </ul>
            {{!-- <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> --}}
        </div>
    </div>
</nav>