{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 container-fluid" style="position:absolute; bottom:0;"> --}}
<nav class="navbar navbar-expand-lg navbar-dark mb-4 container-fluid" style="position:absolute; bottom:0;">
    <small style="color: white;">Copyright &copy; Trevor 2022</small>
</nav>