<div class="container">
    <div class="row">
        <div class="navbar-nav mr-auto ml-4 mb-4">
            <form class="form-inline my-2 my-lg-0" method="post" action="/notes/search/">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar notas" name="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        {{#if search}}
            <div class="navbar-nav ml-auto ml-4 mb-4">
                <h5>Resultado de la búsqueda: <span class="badge badge-pill badge-secondary">{{search}}</span></h5>
            </div>
        {{/if}}
    </div>
    {{#if search}}
        <div class="row">
            {{#each notas}}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-between align-items-center">
                                {{titulo}}
                            </h4>
                            <hr>
                            <p>{{descripcion}}</p>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <h4 class="card-title">No hay resultados</h4>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>